* {
    font-family: arial;
}

header {
    background-color: #555;
    color: #FFE573;
    padding: 2px;
    text-align: center;
    letter-spacing: 10px;
    text-shadow: 0px 0px 5px orange;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

body {
    background-color: #eee;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    background-image: url('../picture/background.jpg');
    background-attachment: fixed;
    background-size: cover;
}

article {
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
}

footer {
    background-color: #555;
    color: #ddd;
    text-align: center;
    padding: 10px;
    text-shadow: 2px 2px 2px gray;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}