ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-size: 25px;
}

ul.nav li {
    float: left;
}

ul.nav li.right {
    float: right;
}

ul.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}

ul.nav a:hover {
    background-color: #111;
}

ul.right li {
    float: right;
}

img.nav {
    width: 20px;
    height: 20px;
}